@charset "utf-8";

.container{min-width:0;}
article{width:auto;}

.title-wrap{font-size: 24px;width: 261px;
	/* height: 5em; */
}
.btn {
    height: 40px;
    width: 100%;
    font-size: 15px;
	font-weight: 500;
	line-height: 23px;
}
.btn span::after{margin-left: 8px;}
.btn:hover{box-shadow: none;}
.txt{font-size: 15px;}
.mb{display: block;}
.mo-hide{display: none;}
.pc-hide{display: block;}
.mini-cir {display:block; position:absolute; width: 22px; height: 22px; border-radius: 50%; background-color:#91D1A7;}
.pc-block{display: inline-block;}

/*header*/
header{height: auto;}
header .nav_conts{padding: 14px 24px;}
header .nav_conts a{display:block;}
header .nav_conts .logo img{width: 96px; height: 24px;}
header .nav_conts .menu-txt{display: none;}
header .nav_conts .header-nav{display: none;}
.hamburger{width: 28px; height: 28px; border-radius: initial; border: none; box-shadow: none; right: 24px;}
.hamburger .line{width: 19px; height: 2px; margin: 2px 0;}
.hamburger .line:nth-child(2){width:15px; margin-left: 4px;}

#hamMenu.is-active .line:nth-child(1){
	-webkit-transform: translateY(6px) rotate(45deg);
	-ms-transform: translateY(6px) rotate(45deg);
	-o-transform: translateY(6px) rotate(45deg);
	transform: translateY(6px) rotate(45deg);
}
#hamMenu.is-active .line:nth-child(3){
	-webkit-transform: translateY(-6px) rotate(-45deg);
	-ms-transform: translateY(-6px) rotate(-45deg);
	-o-transform: translateY(-6px) rotate(-45deg);
	transform: translateY(-6px) rotate(-45deg);
}
.overlay-menu nav{padding-top: 52px; text-align: initial;}
.overlay-menu nav ul li a{font-size: 20px;}

/* intro */
#intro{position: relative; height: 580px;}
#intro article{height: 580px;}
.scroll{display: none;}
.container{left: 0; top: 140px;}
.container nav{display: none;}
.title{position: relative; left: 50%; transform: translateX(-50%); width: 300px;}
.title .sub_t01{position: absolute; left: 30px; font-size: 28px;top:20px;}
.title h1{position: relative; top: 55px; text-align: center;}
.title h1>img{width: 192px;}
.title .sub_box01{top: 30px; left: initial; right: 35px;}
.title .sub_box01 .sub_t02{font-size: 32px;}
.title .sub_box02{left: 54%; transform: translateX(-50%); top: 230px; white-space: nowrap;}
.title .sub_box02 .sub_t03{font-size: 28px;}
.title .sub_box02 .sub_t03 > span{background: linear-gradient(to right, #4BAF4B, #006454); -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
.title .sub_box02 p{font-size:14px;padding-top: 20px;font-weight: 400;}

#intro .box{transform: none; right: 0;}
.box{top: 175px; transform: translateX(-50%);}
.circle1{width: 516px; height: 516px; transform: rotate(180deg);}
.circle1::after{width:12px; height:12px; left: 96%;}
.circle2{display: none;}
.circle3{width: 372px; height: 372px; z-index: 11;}
.circle3::after{width: 16px; height: 16px; left: 64%;}
#intro .ui-infinity .base{margin: 0 54px;}
#intro .ui-infinity .overlay{
    position: absolute;
    top: -16px;
    left: 25px;
    width: 540px;
    height: 303px;
    transform: scale(0.9);
    opacity: .4;
}

/* history */
.ui-history article{padding: 60px 24px;}
.ui-history .btn{position: relative;right: 0%; bottom: 0%;}
.ui-history .typing{font-size: 24px;}
.ui-history .title-wrap{height: 5em;}
.ui-history .history-conts{margin: 0; margin-top: 40px;}
.ui-history .history-conts h3{font-size: 18px;}
.ui-history .history-conts p{margin-top: 12px; font-size: 15px;}
.ui-history .swiper-slide{flex-wrap: wrap;}
.ui-history .swiper-pagination{padding: 0;}
.ui-history .swiper-slide img{width: 100%;}
.ui-history .swiper-pagination{justify-content: flex-start;}
.ui-history .swiper-pagination:before{display: none;}
.ui-history .swiper-pagination-bullet{flex-direction: row; align-self: center;}
.ui-history .swiper-pagination-bullet .icn{width: 9px; height: 9px;}
.ui-history .swiper-pagination-bullet .icn + .lbl{margin: 0; margin-left: 8px;}
.ui-history .swiper-pagination-bullet-active .icn{width: 17px; height: 17px;}
.ui-history .swiper-container-horizontal>.swiper-pagination-bullets{margin: 34px 0; padding: 0 2px 0 0;}
.ui-history .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin-right: 20px;}
.ui-history .swiper-pagination-bullet .icn + .lbl{font-size: 18px;}
.ui-history .swiper-pagination-bullet.swiper-pagination-bullet-active .icn:after{display: none;}
.ui-history .swiper-pagination-bullet.swiper-pagination-bullet-active .icn:before{display: none;}
.ui-history .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) .lbl{display: none;}

/* ui-video */
.ui-video article{padding: 60px 24px;}
.ui-video .title-wrap{margin-bottom: 40px;width:167px;}
.ui-video .video-wrap{width: 100%;flex-wrap:wrap}
.video-wrap .thumbnail{width: 100%;height:auto;}
.video-wrap .thumbnail img{width: 100%;}
.ui-video .video-wrap > div{margin: 0;}
.ui-video .video-wrap div:first-of-type .thumbnail{margin: 0; margin-bottom: 40px;}
.ui-video .video-wrap h4{font-size: 18px;}
.modal{
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    min-width: -webkit-fill-available;
	border-radius:24px 24px 0px 0px;
	padding:20px 24px;
}
.modal iframe{width: 100%;}
.modal iframe{height: 175px;
	width: 312px;
	}
.modal .modal-title{margin-bottom:18px;font-size:18px;}
.modal a.close-modal{top: 20px; right: 20px;}

/* speech */ 
.ui-speech article{padding: 60px 24px;}
.ui-speech .flex{flex-wrap: wrap-reverse; justify-content: flex-end;}
.ui-speech .speech-conts{padding:0;}
.ui-speech .speech-conts h4{font-size: 16px;margin-bottom:20px;}
.ui-speech .ceo{margin: 0; z-index: 1;margin: 40px 0;}
.ui-speech .ceo img{width: 240px; height: 240px;}
.ui-speech .speech-conts .txt p:nth-child(2){padding: 20px 0;}
.ui-speech .circle{top: -2%; left: -17%; width: 370px; height: 370px;}

/* emblem */
.ui-emblem article{padding: 84px 24px;overflow: visible;}
.ui-emblem .title-wrap h1{font-size: 32px;line-height:45px;margin-bottom: 40px;}
.ui-emblem .ui-infinity{width: 213px;}
.ui-emblem .txt-cont{margin-top:40px}
.ui-emblem .txt-cont .title-wrap{margin-bottom: 20px;}
.ui-emblem .txt-cont .title-wrap .bold{font-size: 18px;}
.ui-emblem .emblem-conts.flex{flex-wrap: wrap; justify-content:flex-end;}
.ui-emblem .overlay{display: none;}
.ui-emblem .txt-cont .txt p:first-child{margin: 0 0 20px 0;}
.base img {width: 100%;}
.ui-emblem .box{position: absolute; top:-20px; left: initial; right: -20px;}
.ui-emblem .circle1{width: 235px; height: 235px;z-index:100;}
.ui-emblem .circle1:after{ top: 31%; left: 95%; width: 14px; height:14px;}
.ui-emblem .circle3{width: 380px; height: 380px;}
.ui-emblem .circle3:after{top: 98%; left: 58%; width: 10px; height: 10px;}


/* ui-story50Yrs */

.st50-years article{padding: 100px 24px 60px 24px;}
.st50-years .title-wrap {height:auto}
.st50-years .title-wrap h1{font-size: 32px;line-height: 45px; margin:0;}
.st50-years .tit-btn-wrap {margin: 60px 0 40px 0;}
.st50-years .tit-btn-wrap .title-wrap{margin-bottom: 0px;}
.st50-years .tit-btn-wrap .title-wrap p{font-size: 24px; line-height: normal; padding:0;}
.st50-years .tit-btn-wrap .btn{font-size: 13px; width: 96px;height: 30px;padding:0 10px;line-height:2;}
.st50-years .tit-btn-wrap .btn span::after{margin-left:8px;background: url(../images/arrow_mobile.svg) center no-repeat; width: 5px; height: 9px;}

.st50-years .story-wrap{padding: 0;}
.st50-years .story-wrap .st50-story{overflow:visible; margin: 0;}
.st50-story .swiper-slide{flex-shrink: 1;}
.st50-story .swiper-slide img{width: 280px; height: 180px;}

.st50-story .storys{margin-top: 100px;}
.st50-story .storys h3{font-size: 18px; letter-spacing: -0.1px}
.st50-story .storys p{font-size: 15px;}


.st50-years .mo-nav{width: 100%; margin-top: 40px;}
.st50-years .mo-nav ul{display: flex;}
.st50-years .mo-nav ul li{width: 100%;margin-right: 15px;}
.st50-years .mo-nav ul li:last-of-type{margin-right: 0;}
.st50-years .mo-nav ul li a{font-size: 20px;line-height: 24px;color: #CCCCCC;}


.st50-years .mo-nav ul li a.focus{font-weight: 700;color: #017A5F;}
.st50-years .mo-nav ul li a.focus span:first-of-type::after{display: inline-block;content: '~';color: #017A5F;}
.st50-years .mo-nav ul li a.focus::after{display: block;content: '';width: 60px; height: 1px; background-color: #017A5F;}

.st50-years .box{position: absolute; top:-20px; left: initial; right: 0;}
.st50-years .circle1{width: 235px; height: 235px;z-index:100;}
.st50-years .circle1:after{ top: 31%; left: 95%; width: 14px; height:14px;}
.st50-years .circle3{width: 380px; height: 380px;}
.st50-years .circle3:after{top: 98%; left: 58%; width: 10px; height: 10px;}

/* ui-history-cont */
.ui-history-cont article{padding: 100px 24px 60px 24px;}
.ui-history-cont .title-wrap {height:auto}
.ui-history-cont .title-wrap h1{font-size: 32px;line-height: 45px;}
.ui-history-cont .tit-btn-wrap {margin: 60px 0 40px 0;}
.ui-history-cont .tit-btn-wrap .title-wrap{margin-bottom: 0px;}
.ui-history-cont .tit-btn-wrap .btn{font-size: 13px; width: 96px;height: 30px;padding:0 10px;line-height:2;}
.ui-history-cont .tit-btn-wrap .btn span::after{margin-left:8px;background: url(../images/arrow_mobile.svg) center no-repeat; width: 5px; height: 9px;}
.ui-history-cont .history-cont-wrap{padding: 0;}
.ui-history-cont .history-cont-wrap .years-cont::before{left: 66px; top: 17px;}
.ui-history-cont .history-cont-wrap .years-wrap .years-cont{margin-bottom: 45px;}
.ui-history-cont .history-cont-wrap .years-wrap .years-cont ul{margin-left: 24px;}
.ui-history-cont .history-cont-wrap .years-wrap .years-cont li > .bold{margin-right:16px}
.ui-history-cont .history-cont-wrap .years-wrap .years-cont li{display:flex;margin-bottom: 12px;font-size: 14px;word-break:keep-all}
.ui-history-cont .history-cont-wrap .years-wrap .years-cont li span:nth-of-type(2){width: 184px;word-break:keep-all}
.ui-history-cont .history-cont-wrap .years-wrap .years-cont .year{margin-right: 24px;font-size: 18px; line-height: 27px;}
.ui-history-cont .history-cont-wrap .years-wrap .years-cont .year::after{top: 11px; right: -26px;width: 5px; height: 5px;}

.ui-history-cont .box{position: absolute; top:-20px; left: initial; right: 0;}
.ui-history-cont .circle1{width: 235px; height: 235px;z-index:100;}
.ui-history-cont .circle1:after{ top: 31%; left: 95%; width: 14px; height:14px;}
.ui-history-cont .circle3{width: 380px; height: 380px;}
.ui-history-cont .circle3:after{top: 98%; left: 58%; width: 10px; height: 10px;}

.ui-history-cont .mo-nav{width: 100%; margin-top: 40px;}
.ui-history-cont .mo-nav ul{display: flex;}
.ui-history-cont .mo-nav ul li{width: 100%;margin-right: 15px;}
.ui-history-cont .mo-nav ul li:last-of-type{margin-right: 0;}
.ui-history-cont .mo-nav ul li a{font-size: 20px;line-height: 24px;color: #CCCCCC;}

/* .ui-history-cont .mo-nav ul li a:focus{font-weight: 700;color: #017A5F;}
.ui-history-cont .mo-nav ul li a:focus span:first-of-type::after{display: inline-block;content: '~';color: #017A5F;}
.ui-history-cont .mo-nav ul li a:focus::after{display: block;content: '';width: 60px; height: 1px; background-color: #017A5F;} */

.ui-history-cont .mo-nav ul li a.focus{font-weight: 700;color: #017A5F;}
.ui-history-cont .mo-nav ul li a.focus span:first-of-type::after{display: inline-block;content: '~';color: #017A5F;}
.ui-history-cont .mo-nav ul li a.focus::after{display: block;content: '';width: 60px; height: 1px; background-color: #017A5F;}


.ui-speech.subpage{}
.ui-speech.subpage .title-wrap{height: auto;}
.ui-speech.subpage .title-wrap h1{font-size: 32px;}
.ui-speech.subpage .ceo{margin: 40px 0 60px 0;}
.ui-speech .speech-conts .txt p:nth-child(2){padding: 0;}
.ui-speech.subpage .speech-conts h4{font-size: 18px;}
.ui-speech.subpage .speech-conts .txt p{margin-bottom: 20px;}
.ui-speech.subpage .speech-conts .txt p:last-of-type{margin-bottom: 0px;}
.ui-speech.subpage .speech-conts .txt{margin: 0;}
.ui-speech.subpage .box{position: absolute; top:-20px; left: initial; right: 0;}
.ui-speech.subpage .circle1{width: 235px; height: 235px;z-index:100;}
.ui-speech.subpage .circle1:after{ top: 31%; left: 95%; width: 14px; height:14px;}
.ui-speech.subpage .circle3{width: 380px; height: 380px;}
.ui-speech.subpage .circle3:after{top: 98%; left: 58%; width: 10px; height: 10px;}

/* ui-present */

.ui-present article{padding: 100px 24px 352px 24px;}
.ui-number article{padding: 60px 24px;}
.ui-graph article{padding: 60px 24px;}
.ui-present .present-wrap .title-wrap{width: 280px;}
.ui-present .present-wrap .title-wrap h1{font-size: 32px;}
.ui-present .ui-circle .circle-wrap{flex-wrap: wrap;margin-top:60px;}
.ui-present .ui-circle .circle-wrap .first-circle{width: 148px; height: 148px; margin: 0; background-size: cover;}
.ui-present .ui-circle .circle-wrap .first-circle .txt-wrap{padding: 38px 0;}
.ui-present .ui-circle .circle-wrap .first-circle .desc{font-size: 16px;}
.ui-present .ui-circle .circle-wrap .first-circle .num{font-size: 32px;}
.ui-present .ui-circle .circle-wrap .second-circle .desc{font-size: 24px;}
.ui-present .ui-circle .circle-wrap .second-circle .num{font-size: 48px;}
.ui-present .ui-circle .circle-wrap .second-circle{width: 292px; height: 292px; margin: 0; background-size: cover;position: absolute; bottom: -180%;}
.ui-present .ui-circle .circle-wrap .second-circle .txt-wrap{padding: 96px 0 0 0;}
.ui-present .box{position: absolute; top:-47px; left: initial; right: -20px;}
.ui-present .circle1{width: 235px; height: 235px;z-index:100;}
.ui-present .circle1:after{ top: 31%; left: 95%; width: 14px; height:14px;}
.ui-present .circle3{width: 380px; height: 380px;}
.ui-present .circle3:after{top: 98%; left: 58%; width: 10px; height: 10px;}
.ui-number .number-wrap{flex-wrap: wrap;}
.ui-number .number-wrap .title{font-size:17px;}
.ui-number .number-wrap .bold{font-size: 26px;margin:8px 0 4px 0;}
.ui-number .number-wrap .summary{font-size:20px;}
.ui-number .number-wrap .customer{margin-top: 40px;}
.ui-graph .graph{margin-top: 40px;}
.ui-graph .graph img{width: 100%;}
.ui-graph .title{font-size: 24px;}










/* footer */
footer article{padding:28px 44px;}
footer .copyright {text-align: center;}
footer .copyright span{color: #fff; font-size:12px;}