@charset "utf-8";

.container{min-width:0;}
article{width:auto;}

.title-wrap{font-size: 24px;width: 261px;height: 5em;}
.btn {
    height: 40px;
    width: 100%;
    font-size: 16px;
}
.btn:hover{box-shadow: none;}
.txt{font-size: 15px;}
.mb{display: block;}
.mo-hide{display: none;}
.pc-hide{display: block;}
.mini-cir {display:block; position:absolute; width: 22px; height: 22px; border-radius: 50%; background-color:#91D1A7;}

/*header*/
header{height: auto;}
header .nav_conts{padding: 14px 24px;}
header .nav_conts a{display:block;}
header .nav_conts .logo img{width: 96px; height: 24px;}

.hamburger{width: 28px; height: 28px; border-radius: initial; border: none; box-shadow: none; right: 24px;}
.hamburger .line{width: 19px; height: 2px; margin: 2px 0;}
.hamburger .line:nth-child(2){width:15px; margin-left: 4px;}

#hamMenu.is-active .line:nth-child(1){
	-webkit-transform: translateY(6px) rotate(45deg);
	-ms-transform: translateY(6px) rotate(45deg);
	-o-transform: translateY(6px) rotate(45deg);
	transform: translateY(6px) rotate(45deg);
}
#hamMenu.is-active .line:nth-child(3){
	-webkit-transform: translateY(-6px) rotate(-45deg);
	-ms-transform: translateY(-6px) rotate(-45deg);
	-o-transform: translateY(-6px) rotate(-45deg);
	transform: translateY(-6px) rotate(-45deg);
}
.overlay nav{padding-top: 52px; text-align: initial;}
.overlay nav ul li a{font-size: 24px;}

/* intro */
#intro{position: relative; height: 580px;}
#intro article{height: 580px;}
.scroll{display: none;}
.container{left: 0; top: 140px;}
.container nav{display: none;}
.title{position: relative; left: 50%; transform: translateX(-50%); width: 300px;}
.title .sub_t01{position: absolute; left: 30px; font-size: 28px;}
.title h1{position: relative; top: 35px; text-align: center;}
.title h1>img{width: 192px;}
.title .sub_box01{top: 16px; left: initial; right: 32px;}
.title .sub_box01 .sub_t02{font-size: 32px;}
.title .sub_box02{left: 50%; transform: translateX(-50%); top: 208px; white-space: nowrap;}
.title .sub_box02 .sub_t03{font-size: 28px;}
.title .sub_box02 .sub_t03 > span{background: linear-gradient(to right, #4BAF4B, #006454); -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
.title .sub_box02 p{font-size:14px;}

.box{top: 175px; transform: translateX(-50%);}
.circle1{width: 516px; height: 516px; transform: rotate(180deg);}
.circle1::after{width:12px; height:12px; left: 96%;}
.circle2{display: none;}
.circle3{width: 372px; height: 372px; z-index: 11;}
.circle3::after{width: 16px; height: 16px; left: 64%;}

/* history */
.ui-history article{padding: 50px 24px;}
.ui-history .typing{font-size: 24px;}
.ui-history .history-conts{margin: 0; margin-top: 36px;}
.ui-history .history-conts h3{font-size: 20px;}
.ui-history .history-conts p{margin-top: 12px; font-size: 15px;}
.ui-history .swiper-slide{flex-wrap: wrap;}
.ui-history .swiper-pagination{padding: 0;}
.ui-history .swiper-slide img{width: 100%;}
.ui-history .swiper-pagination:before{display: none;}
.ui-history .swiper-pagination-bullet{flex-direction: row; align-self: center;}
.ui-history .swiper-pagination-bullet .icn{width: 9px; height: 9px;}
.ui-history .swiper-pagination-bullet .icn + .lbl{margin: 0; margin-left: 8px;}
.ui-history .swiper-pagination-bullet-active .icn{width: 17px; height: 17px;}
.ui-history .swiper-container-horizontal>.swiper-pagination-bullets{margin: 34px 0; padding: 0 2px 0 0;}
.ui-history .swiper-pagination-bullet.swiper-pagination-bullet-active .icn:after{display: none;}
.ui-history .swiper-pagination-bullet.swiper-pagination-bullet-active .icn:before{display: none;}
.ui-history .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) .lbl{display: none;}
.ui-history .btn{position: relative;right: 0%; bottom: 0%;}
.ui-history .title-wrap{height: 5em;}

/* speech */ 
.ui-speech article{padding: 50px 24px;}
.ui-speech .flex{flex-wrap: wrap-reverse; justify-content: flex-end;}
.ui-speech .speech-conts{padding:30px 0 10px 0;}
.ui-speech .speech-conts h4{font-size: 16px;margin-bottom:20px;}
.ui-speech .ceo{margin: 0; z-index: 1;}
.ui-speech .ceo img{width: 240px; height: 240px;}
.ui-speech .speech-conts .txt p:nth-child(2){padding: 20px 0;}
.ui-speech .circle{top: -2%; left: -17%; width: 370px; height: 370px;}
.ui-speech .mo-cir{position: absolute; top: -15%; right: -7%;}

/* emblem */
.ui-emblem{background-color:#FBFBFB;}
.ui-emblem article{padding: 50px 24px 140px 24px;overflow: visible;}
.ui-emblem .emblem-conts.flex{flex-wrap: wrap; justify-content:flex-end;}
.ui-emblem .overlay{display: none;}
.ui-emblem .txt-cont .title-wrap{position: absolute; top: 48px;}
.ui-emblem .txt-cont .txt p:first-child{margin: 0 0 20px 0;}
.base img {width: 100%;}
.ui-emblem .txt-cont{margin-top:40px}
.ui-infinity .base{width: 192px; height: auto; margin-top: 110px;}
.ui-emblem .mo-cir1{position: absolute;top: -12%; right: 0%;}
.ui-emblem .mo-cir2{position: absolute;bottom: -11%; left: 0%;}


/* footer */
footer article{padding:28px 44px;}
footer .copyright {text-align: center;}
footer .copyright span{color: #fff; font-size:12px;}