@charset "utf-8";

html, body,
h1, h2, h3, h4, h5, h6,
input, select, textarea, button, option {font-family:"Noto Sans KR", "맑은 고딕", "돋움", Dotum, sans-serif;}

html {position:relative;}
html, body {font-weight:normal;color:#555;}
body {position:relative;font-size:16px;}
body, div, dl, dd, ul, ol, h1, h2, h3, h4, h5, h6, form, fieldset, legend, button, p, pre, blockquote, menu, figure, input {margin:0;padding:0;}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {display:block;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, select, input, textarea, p, blockquote, th, td, menu, button, a, span, strong, label, header, footer, section, article, aside, nav, hgroup, details, figure, figcaption {word-break:break-word;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;}
h1, h2, h3, h4, h5, h6, input, select, textarea, button, option {font-size:14px;font-weight:normal;color:inherit;}
pre, code, samp, kbd {font-family:inherit;}
h1, h2, h3, h4, h5, h6, strong, b, th {font-weight:bold;}
em, var, address {font-style:normal;}
ul, ol, li {list-style:none;}

legend, fieldset, button, img {border:0 none;}
input, select, textarea, button, label, strong, a, time {vertical-align:inherit;}
input, select, textarea, button, option {font-family:inherit;font-weight:inherit;}
/* input, select, textarea {appearance:none;-webkit-appearance:none;} */
input[type="text"]::-webkit-search-cancel-button {appearance:none;-webkit-appearance:none;}
button, select, option {color:inherit;text-transform:none;}
textarea {resize:none;}
caption, legend {width:1px;height:1px;overflow:hidden;margin:-1px;clip:rect(0, 0, 0, 0);}
table {border-collapse:collapse;border-spacing:0;}
button {overflow:visible;text-align:left;cursor:pointer;background:none;}
